# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos 
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*. 

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor. 

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [1]:
dir = os.getcwd()
    	tit = pd.read_csv(dir + "\\titanic_data.csv")

IndentationError: ignored

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [ ]:
numero_linhas = len(tit) --> 891
   	 numero_colunas = len(tit.columns) --> 12
   	 print(tit.dtypes) -->  PassengerId      int64
				Survived         int64
				Pclass           int64
				Name            object
				Sex             object
				Age            float64
				SibSp            int64
				Parch            int64
				Ticket          object
				Fare           float64
				Cabin           object
				Embarked        object

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [ ]:
for index, row in tit.iterrows():
       		if int(index) <= 10 or index >= 883:
            		print(str(index) + " - "+ str(row))

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [ ]:
É possível com a seguinte expressão:

		Retorna a quantidade de vazios por coluna:	print(tit.isna().sum())
									PassengerId      0
									Survived         0
									Pclass           0
									Name             0
									Sex              0
									Age            177
									SibSp            0
									Parch            0
									Ticket           0
									Fare             0
									Cabin          687
									Embarked         2
		

		Retorna o valor total de vazios no dataset: 	int(tit.isna().sum().sum())
	 								866 valores vazio
		

		Substitui valores vazios por 0:		tit.fillna(value=0, inplace=True)

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [ ]:
Remover as colunas desejadas:	

		 tit.drop(["SibSp", "Parch", "Ticket"], axis=1, inplace=True)

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [ ]:
Renomear as colunas:

		tit.rename(columns={str(lista_colunas[0]): 'IdPassageiro', str(lista_colunas[1]): "Sobreviveu", str(lista_colunas[2]): 'Classe',
                        	str(lista_colunas[3]): "Nome", str(lista_colunas[4]): 'Sexo', str(lista_colunas[5]): "Idade",
                        	str(lista_colunas[6]): 'Tarifa', str(lista_colunas[7]): "Cabine", str(lista_colunas[8]): 'Embarque'})

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [ ]:
Alterar o conteudo da coluna Sobreviveu:

		cont = 0
    		for index, row in tit.iterrows():
        		if row["Sobreviveu"] == 0:
            			tit.iat[cont, 1] = "Nao"
            			cont += 1
        		else:
            			tit.iat[cont, 1] = "Sim"
            			cont += 1

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [ ]:
Alterar o conteudo da coluna Sexo:

	  	cont = 0
    		for index, row in tit.iterrows():
        		if row["Sexo"] == "female":
            			tit.iat[cont, 4] = "Mulher"
            			cont += 1
       			else:
            			tit.iat[cont, 4] = "Homem"
            			cont += 1

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [ ]:
Calculo de homens e mulher a bordo:

		len(tit.loc[tit["Sexo"] == "Mulher"]) 
		len(tit.loc[tit["Sexo"] == "Homem"]) 
		
		-----> 314 mulheres 
		-----> 577 homens

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [ ]:
Calculo de vivos e mortos:

		contador_mortos = len(tit.loc[tit["Sobreviveu"] == "Nao"])
    		contador_vivos = len(tit.loc[tit["Sobreviveu"] == "Sim"])
		
		-----> 342 vivos 
		-----> 549 mortos

11 - Quantas mulheres não sobreviveram?

In [ ]:
Calculo mulheres mortas:
		
		contador_mulheres_vivas = len(tit.loc[(tit["Sobreviveu"] == "Nao") & (tit["Sexo"] == "Mulher")])

		-----> 81 mortas

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [ ]:
Aproximadamente 1/3 dos sobreviventes foram homens com 109 vivos, e aproximadamente 2/3 foram mulheres com 233 vivas, então sobreviveram mais mulheres

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [ ]:
A faixa etária com maior número de vítimas foi os 21 anos de idade totalizando 19 mortos 

		lista_idades = list(tit["Idade"].drop_duplicates())
    		lista_idades.sort()
    		dict = {}
    		for i in lista_idades:
            		dict[int(i)] = len(tit.loc[(tit["Sobreviveu"] == "Nao") & (tit["Idade"] == i)])

14 - Qual a média de idade dos homens sobreviventes?

In [ ]:
Calculo da media da idade dos homens que sobreviveram:

		lista_idades_homens_vivos = []
    		for index, row in tit.iterrows():
        		if row["Sobreviveu"] == "Sim" and row["Sexo"] == "Homem":
            			lista_idades_homens_vivos.append(float(row["Idade"]))

    		media = sum(lista_idades_homens_vivos)/len(lista_idades_homens_vivos)

		media -----> 23.272201834862386 ou 23.27

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [ ]:
Calculo da proporção de homens e mulheres sobreviventes dado o grupo apresentado:
		contador_mulheres = 0
    		contador_homens = 0
    		for index, row in tit.iterrows():
        		if row["Sobreviveu"] == "Sim":
            			if row["Sexo"] == "Mulher" or int(row["Idade"] <= 15):
                			if row["Sexo"] == "Mulher":
                    				contador_mulheres += 1
                			else:
                    				contador_homens += 1
		
		homens -----> 233
		mulheres -----> 37

16 - Qual a quantidade de passageiros por classe?

In [ ]:
Quantidade de passageiros por classe:

		classe_A = len(tit.loc[(tit["Classe"] == 1)])
   		classe_B = len(tit.loc[(tit["Classe"] == 2)])
    		classe_C = len(tit.loc[(tit["Classe"] == 3)])

	classe 1 -----> 216
	classe 2 -----> 184
	classe 3 -----> 491

17 - Qual o percentual de sobreviventes por classe?

In [ ]:
Qtd sobreviventes por Classe:
		
		qtd_classe1 = len(tit.loc[(tit["Classe"] == 1) & (tit["Sobreviveu"] == "Sim")])
		qtd_classe2 = len(tit.loc[(tit["Classe"] == 2) & (tit["Sobreviveu"] == "Sim")])
		qtd_classe3 = len(tit.loc[(tit["Classe"] == 3) & (tit["Sobreviveu"] == "Sim")])

		quotient1 = qtd_classe1 / 342
    		percent1 = quotient1 * 100

    		quotient2 = qtd_classe2 / 342
    		percent2 = quotient2 * 100

    		quotient3 = qtd_classe3 / 342
    		percent3 = quotient3 * 100



		classe 1 -----> 136
		classe 2 -----> 87
		classe 3 -----> 119
	ou seja, 
		classe 1 -> 39,7%
		classe 2 -> 25,4%
		classe 3 -> 34,7%

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [ ]:
Codigo pra criação do dataframe:

		dicio = {
        		'Homem_Classe_1': [45, 77],
        		'Homem_Classe_2': [17, 91],
        		'Homem_Classe_3': [47, 300],
      		 	'Mulher_Classe_1': [91, 3],
     		   	'Mulher_Classe_2': [70, 6],
        		'Mulher_Classe_3': [72, 72]
    			}

    		df = pd.DataFrame(dicio, index=['Vivos', "Mortos"])


	Codigo para verificação dos valores inseridos no dataframe:

		qtd_classe1_homem = len(tit.loc[(tit["Classe"] == 1) & (tit["Sobreviveu"] == "Sim") & (tit["Sexo"] == "Homem")])
    		qtd_classe2_homem = len(tit.loc[(tit["Classe"] == 2) & (tit["Sobreviveu"] == "Sim") & (tit["Sexo"] == "Homem")])
    		qtd_classe3_homem = len(tit.loc[(tit["Classe"] == 3) & (tit["Sobreviveu"] == "Sim") & (tit["Sexo"] == "Homem")])
    		qtd_classe1_mulher = len(tit.loc[(tit["Classe"] == 1) & (tit["Sobreviveu"] == "Sim") & (tit["Sexo"] == "Mulher")])
    		qtd_classe2_mulher = len(tit.loc[(tit["Classe"] == 2) & (tit["Sobreviveu"] == "Sim") & (tit["Sexo"] == "Mulher")])
    		qtd_classe3_mulher = len(tit.loc[(tit["Classe"] == 3) & (tit["Sobreviveu"] == "Sim") & (tit["Sexo"] == "Mulher")])

    		qtd_classe1_homem_morto = len(tit.loc[(tit["Classe"] == 1) & (tit["Sobreviveu"] == "Nao") & (tit["Sexo"] == "Homem")])
    		qtd_classe2_homem_morto = len(tit.loc[(tit["Classe"] == 2) & (tit["Sobreviveu"] == "Nao") & (tit["Sexo"] == "Homem")])
    		qtd_classe3_homem_morto = len(tit.loc[(tit["Classe"] == 3) & (tit["Sobreviveu"] == "Nao") & (tit["Sexo"] == "Homem")])
   		qtd_classe1_mulher_morto = len(tit.loc[(tit["Classe"] == 1) & (tit["Sobreviveu"] == "Nao") & (tit["Sexo"] == "Mulher")])
    		qtd_classe2_mulher_morto = len(tit.loc[(tit["Classe"] == 2) & (tit["Sobreviveu"] == "Nao") & (tit["Sexo"] == "Mulher")])
    		qtd_classe3_mulher_morto = len(tit.loc[(tit["Classe"] == 3) & (tit["Sobreviveu"] == "Nao") & (tit["Sexo"] == "Mulher")])

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [ ]:
1° forma de resolução do problema:
		homens_vivos_classe3 = 0
    		homens_vivos_classe2 = 0
    		for index, row in tit.iterrows():
        		if row["Sexo"] == "Homem" and row["Sobreviveu"] == "Sim":
            			if row["Idade"] >= 24 and row["Idade"] <= 30:
                			if row["Classe"] == 3:
                   				homens_vivos_classe3 += 1
                			elif row["Classe"] == 2:
                    				homens_vivos_classe2 += 1
	
		
	homens vivos classe 2 -----> 0
	homens vivos classe 3 -----> 12

20 - Calcule a probabilidade condicional de uma pessoa sobreviver, dado seu sexo e a classe em que estava viajando:
- P(S= true | G=female,C=1)
- P(S= true | G=female,C=2)
- P(S= true | G=female,C=3)
- P(S= true | G=male,C=1)
- P(S= true | G=male,C=2)
- P(S= true | G=male,C=3)

In [ ]:
Cálculo da possibilidade condicional destacada no título:
		quotient_classe1_homem = qtd_classe1_homem / 342
    		percent_classe1_homem = quotient_classe1_homem * 100

    		quotient_classe2_homem = qtd_classe2_homem / 342
    		percent_classe2_homem = quotient_classe2_homem * 100

    		quotient_classe3_homem = qtd_classe3_homem / 342
    		percent_classe3_homem = quotient_classe3_homem * 100

    		quotient_classe1_mulher = qtd_classe1_mulher / 342
    		percent_classe1_mulher = quotient_classe1_mulher * 100

    		quotient_classe2_mulher = qtd_classe2_mulher / 342
    		percent_classe2_mulher = quotient_classe2_mulher * 100

    		quotient_classe3_mulher = qtd_classe3_mulher / 342
    		percent_classe3_mulher = quotient_classe3_mulher * 100


	P(S= true | G=female,C=1) ----> 13,15%
	P(S= true | G=female,C=2) ----> 4,97% 
	P(S= true | G=female,C=3) ----> 13,74%
	P(S= true | G=male,C=1) ----> 26,6%
	P(S= true | G=male,C=2) ----> 20,46%
	P(S= true | G=male,C=3) ----> 21.05%